@font-face {
    font-family: "cabinSketchBold";
    src: url("fonts/CabinSketch-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "cabinSketchRegular";
    src: url("fonts/CabinSketch-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "deliciousHandrawnRegular";
    src: url("fonts/DeliciousHandrawn-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "londrinaSketchRegular";
    src: url("fonts/LondrinaSketch-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "reenieBeanieRegular";
    src: url("fonts/ReenieBeanie-Regular.ttf") format("truetype");
}
